.principal {
    margin-top: 100px;
    margin-left: 160px;
    margin-right: 160px;
}

.feed {
    width: 500px;
    
}

.botonmain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}